#right-pane {
    float: right;
    height: 100%;
    width: 100%;
    border-left: 1px solid #66ccff;
}
#header {
    width: 100%;
    height: 10%;
    background-color: #66ccff;
    color: white;
}

#header > p {
    padding-top: 2%;
    margin-top: 0%;
    padding-left: 50%;
    font-size: x-large;
}

#messages {
    float: right;
    height: 80%;
    width: 100%;
    border-bottom: 1px solid #66ccff;
    overflow-y: auto;
}

#messages > section {
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 2%;
    max-width: 50%;
    word-wrap: break-word;
    z-index: -1;
    border: solid 1px lightgrey;
    border-radius: 5px;
    float: left;
    background-color: #F2F2F2;
}

#messages > section > a {
    color: #000;
}

#messages > section.sent {
    border: solid 1px cornflowerblue;
    border-radius: 5px;
    background-color: #66ccff;
    float: right;
}

#messages > section.sent > a {
    color: white;
}

#sendingPane {
    height: 10%;
    width: 100%;
}

table {
    width: 100%;
}

td:nth-child(even){
    width: 50%;
}

td:nth-child(odd) {
    width: 25%;
}

img {
    height: 70%;
    width: 25%;
}

#linkImage {
    margin-left: 1%;
    float: left;
}

#sendingItem {
    border-radius: 5px;
    background-color: #F2F2F2;
    border: solid 1px lightgrey;
    width: 100%;
    margin-top: 1%;
    height: 50px;
    float: right;
}

#sentImage {
    float: right;
}

a {
    text-decoration: none;
}