<section id="right-pane">
    <section id="header">
        <p>Chat</p>
    </section>

    <section id="messages">
        <section *ngFor="let messageBubble of messages" [class.sent]="messageBubble.sender === currentUserName" (click)="downloadFile(messageBubble.id)">
               <a href="{{messagesUrl}}/{{messageBubble.id}}">{{messageBubble.filename}}</a>
        </section>
    </section>

    <section id="sendingPane">
        <table>
            <tr>
                <td>
                    <img src="../../assets/images/link.png" alt="link" id="linkImage">
                </td>
                <td>
                    <input type="file" id="sendingItem" (change)="selectedFileChanged($event)">
                </td>
                <td>
                    <img src="../../assets/images/sent.png" alt="sent" id="sentImage" (click)="sendFile()">
                </td>
            </tr>
        </table>
    </section>
</section>
