<section id="right-pane">
    <section id="header">
        <p>User 1</p>
    </section>

    <section id="messages">
        <section class="message recieved" (click)="downloadFile(id)">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </section>

        <section class="message sent">
            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
            Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
            feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
        </section>
    </section>

    <section id="sendingPane">
        <table>
            <tr>
                <td>
                    <img src="../../assets/images/link.png" alt="link" id="linkImage">
                </td>
                <td>
                    <input type="file" id="sendingItem" (change)="selectedFileChanged($event)">
                </td>
                <td>
                    <img src="../../assets/images/sent.png" alt="sent" id="sentImage" (click)="sendFile()">
                </td>
            </tr>
        </table>
    </section>
</section>
